@font-face {
    font-family: 'CeraPro Regular';
    src: url(./Fonts/CeraPro-Regular.ttf);
}

@font-face {
    font-family: 'CeraPro Medium';
    src: url(./Fonts/CeraPro-Medium.ttf);
}

.planet {
    display: flex;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    justify-content: space-between;
}
.container {
    margin: 44px 120px 50px;
}
.planet-text-part {
    max-width: 557px;
    margin-left: 40px;
}
.text-part-greenshop {
    color: #3D3D3D;
    font-family: 'CeraPro Medium';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 1.1px;
    text-transform: uppercase;

    margin-top: 68px;
}
.text-part-h1 {
    color: #3D3D3D;
    font-family: "CeraPro Medium";
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px; /* 100% */
    text-transform: uppercase;
    
    margin-top: 7px;
}
.text-part-h1-span {
    color: #46A358;
    font-family: "CeraPro Medium";
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
}
.text-part-description {
    color: #727272;
    font-family: "CeraPro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */

    margin-top: 5px;
}
.text-part-button {
    color: #FFF;
    font-family: "CeraPro Medium";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    text-transform: uppercase;

    background: #46A358;
    border-radius: 6px;
    padding: 10px 27px;

    margin-top: 44px;
}

.planet-pictures-part {
  position: relative;
  display: inline-block;
}

.picture-part-big {
    max-width: 507px;
}

.picture-part-small {
    position: absolute;
    bottom: 17px;
    left: 55px;
    max-width: 135px;
}