@font-face {
    font-family: 'CeraPro Regular';
    src: url('../Fonts/CeraPro-Regular.ttf');
}

@font-face {
    font-family: 'CeraPro Medium';
    src: url('../Fonts/CeraPro-Medium.ttf');
}

@font-face {
    font-family: 'CeraPro Bold';
    src: url('../Fonts/CeraPro-Bold.ttf');
}

@font-face {
    font-family: 'CeraPro Black';
    src: url('../Fonts/CeraPro-Black.ttf');
}

.container {
    padding: 26px 120px 13px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid rgba(70, 163, 88, 40%);
}

.header-links {
    display: flex;
    gap: 50px;
}

.header-link {
    position: relative;
}

.header-link > a {
    position: relative;
    color: #3D3D3D;
    font-family: "CeraPro Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 25px;
    border-bottom: 3px solid transparent;
    display: block;
    text-decoration: none;
}

.header-link:hover > a {
    color: #3D3D3D;
    font-family: "CeraPro Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom-color: #46A358;
}

.link-home:hover > a {
    letter-spacing: -0.08px;
}
.link-shop:hover > a {
    letter-spacing: -0.06px;
}
.link-care:hover > a {
    letter-spacing: -0.26px;
}
.link-blogs:hover > a {
    letter-spacing: -0.06px;
}

.sublist {
    position: absolute;
    top: 100%;
    z-index: 2;
    margin-top: 14px;
    
    display: none; 
    flex-direction: column;
    width: 188px;
    
    left: 50%;
    transform: translateX(-50%);
    align-items: stretch; 
    
    padding: 0;
    margin-left: 0;
    list-style: none;
}

.link-care:hover .sublist {
    display: flex;
}

.sublist::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    top: -14px; 
    height: 14px;
    background: transparent;
}

.sublistitem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EDF6EE;
    position: static;
}

.sublistitem > a {
    box-sizing: border-box;
    display: block;
    color: #3D3D3D;
    font-family: "Encode Sans Expanded";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    padding: 8px 14px;
    text-decoration: none;
}

.sublistitem > svg {
    margin-right: 14px;
    flex-shrink: 0;
}
.sublistitem > svg path {
    fill: #3D3D3D;
}

.sublistitem:hover {
    background: #1A712A;
}
.sublistitem:hover > a {
    color: #FFF;
    font-weight: 700;
    letter-spacing: -0.35px;
}
.sublistitem:hover > svg path {
    fill: #FFF;
}

.nested-list {
    position: absolute;
    top: 0;
    left: calc(100% + 2px);
    z-index: 3;
    
    display: none; 
    flex-direction: column;
    width: 188px;
    align-items: stretch;

    list-style: none;
}

.nested-list::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px; 
    width: 2px;
    height: 100%; 
    background: transparent;
}

.sublistitem:last-child:hover .nested-list {
    display: flex;
}

.nested-item {
    display: block;
    background: #EDF6EE;
}

.nested-item > a {
    box-sizing: border-box;
    display: block;
    color: #3D3D3D;
    font-family: "Encode Sans Expanded";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    padding: 8px 14px;
    text-decoration: none;
}

.nested-item:hover {
    background: #1A712A;
}
.nested-item:hover > a {
    color: #FFF;
    font-weight: 700;
    letter-spacing: -0.35px;
}

.svg-2 {
    background: #46A358;
    padding: 8px 17px;
    color: #FFF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 1px;
}

.main {
    display: flex;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    justify-content: space-between;
    margin: 12px auto 0;
}

.planet-text-part {
    padding: 68px 40px;
}
.text-part-greenshop {
    color: #3D3D3D;
    font-family: 'CeraPro Medium';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 1.1px;
    text-transform: uppercase;
}
.text-part-h1 {
    color: #3D3D3D;
    font-family: "CeraPro Black";
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px; /* 100% */
    text-transform: uppercase;
    
    padding-top: 7px;
}
.text-part-h1-span {
    color: #46A358;
    font-family: "CeraPro Black";
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
}
.text-part-description {
    color: #727272;
    font-family: "CeraPro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    max-width: 533px;
    padding-top: 5px;
}
.text-part-button {
    color: #FFF;
    font-family: "CeraPro Bold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    text-transform: uppercase;

    background: #46A358;
    border-radius: 6px;
    padding: 10px 27px;

    margin-top: 44px;
}

.planet-pictures-part {
  position: relative;
  display: inline-block;
}

.picture-part-big {
    max-width: 507px;
}

.picture-part-small {
    position: absolute;
    bottom: 17px;
    left: 55px;
    max-width: 135px;
}
/* _______________________________________________________ */
.left-right-merger {
    display: flex;
    gap: 50px;
    margin-top: 46px;
}

.left {
    display: flex;
    flex-direction: column;
}

.left-list {
    background: #FBFBFB;
    padding: 14px 18px 14px;
    margin-bottom: 377px;
}

.left-list-h3 {
    color: #3D3D3D;
    font-family: "CeraPro Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
    display: inline-block;
    margin-bottom: 7px;
}

.left-ul-list {
    padding-left: 12px;
}

.left-ul-list-link {
    color: #3D3D3D;
    font-family: "CeraPro Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    display: inline;
}

.left-ul-list-active {
    color: #46A358;
    font-family: "CeraPro Bold";
    font-weight: 700;
}

.left-list-img {
    display: block;
}
/* __________________________________________________________________ */
.right {
    flex-grow: 1;
}

.right-head {
    display: flex;
    justify-content: space-between;
    align-items: start;

    margin-bottom: 31px;
}

.head-menu {
    display: flex;
    list-style: none;
    gap: 37px;
}

.head-menu-li {
    color: #3D3D3D;
    font-family: "CeraPro Regular";
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;

    padding-bottom: 7px;
    border-bottom: 2px solid rgba(70, 163, 88, 0);
}

.head-menu-active {
    color: #46A358;
    font-family: "CeraPro Bold";
    font-weight: 700;

    padding-bottom: 7px;
    border-bottom: 2px solid #46A358;
}

.right-head-sort {
    display: flex;
    align-items: start;
    gap: 5px;
}

.right-head-sort-p {
    color: #3D3D3D;
    font-family: "CeraPro Regular";
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.right-head-sort-img {
    display: block;
}
.right-shopping-offers {
    display: flex;
    flex-wrap: wrap;
    gap: 70px 33px;
}

.shopping-offers-img-div {
    background: #FBFBFB;
    padding: 31px 4px 19px;
    position: relative;
    cursor: pointer;
    border-top: 1px solid transparent;
}

.shopping-offers-hover {
    display: none;
    position: absolute;
    bottom: 5px;
    left: 67px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.shopping-offers-hover-svg1-div {
    padding: 8px;
    background: #FFF;
    border-radius: 4px;
    cursor: pointer;
}
.shopping-offers-hover-svg1 {
    fill: #000000;
}
.shopping-offers-hover-svg2-div {
    padding: 8px;
    background: #FFF;
    border-radius: 4px;
    cursor: pointer;
}
.shopping-offers-hover-svg2 {
    fill: #000000;
}
.shopping-offers-hover-svg3-div {
    padding: 8px;
    background: #FFF;
    border-radius: 4px;
    cursor: pointer;
}
.shopping-offers-hover-svg3 {
    fill: #000000;
}

.shopping-offers-img-div:hover .shopping-offers-hover {
    display: flex;
}

.shopping-offers-img-div:hover {
    border-top-color: #46A358;
}

.shopping-offers-hover-svg1:hover {
    fill: #46A358;
}
.shopping-offers-hover-svg2:hover {
    fill: #46A358;
}
.shopping-offers-hover-svg3:hover {
    fill: #46A358;
}


.shopping-offers-img {
    width: 100%;
    mix-blend-mode: multiply;
}
.shopping-offers-img-div1 {
    background: #FBFBFB;
    padding: 7px 17px;
    position: relative;
    cursor: pointer;
    border-top: 1px solid transparent;
}
.shopping-offers-img-div1:hover {
    border-top-color: #46A358;
}
.shopping-offers-img-div1:hover .shopping-offers-hover {
    display: flex;
}

.shopping-offers-img-div-sale-p {
    color: #FFF;
    font-family: "CeraPro Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */

    padding: 7px 8px;
    position: absolute;
    background: #46A358;

    left: 0;
    top: 14px;
}

.offer-p {
    padding-top: 12px;
    color: #3D3D3D;
    font-family: "CeraPro Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
.offer-cost-p-div {
    display: flex;
    align-items: end;
    gap: 17px;
}
.offer-cost-p {
    padding-top: 6px;
    color: #46A358;
    font-family: "CeraPro Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}
.offer-cost-p-sale {
    color: #A5A5A5;
    font-family: "CeraPro Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 88.889% */
    text-decoration: line-through;
}
.numbers {
    display: flex;
    gap: 10px;
    justify-content: end;
    margin: 90px auto;
}
.numbers-button {
    padding: 10px 14px;
    background: rgba(229, 229, 229, 0.1);
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    color: #3D3D3D;
    font-family: "CeraPro Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 88.889% */
}
.numbers-button-active {
    padding: 10px 18px;
    background: #46A358;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    color: #FFF;
    font-family: "CeraPro Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}
.numbers-button-img {
    padding: 9px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-img {
    max-width: 18px;
}

.plant-banners {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin-top: 94px;
}

.plant-banner {
    display: flex;
    width: 50%;
    position: relative;
    max-height: 302px;
}

.banner-img-div {
    position: absolute;
    left: 0px;   
    top: -40px;
    z-index: 2;   
}

.banner-img {
    display: block;
    object-fit: contain;  
    width: 292px;
}

.plant-banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    text-align: right;     
    width: 100%;
    padding: 37px 30px 46px;
    background-color: #FBFBFB;
    box-sizing: border-box; 
}

.content-h2 {
    color: #3D3D3D;
    text-align: right;
    font-family: "CeraPro Black";
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px; /* 133.333% */
    text-transform: uppercase;
    margin-bottom: 10px;
    max-width: 150px;
    width: 100%;
}

.content-p {
    color: #727272;
    text-align: right;
    font-family: "CeraPro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin-bottom: 24px;
    max-width: 290px;
    width: 100%;    
}

.content-button-btn {
    display: inline-flex;
    gap: 4px;
    align-items: center;
    padding: 11px 28px;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-family: "CeraPro Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.our-blog-posts {
    margin-top: 138px;
}

.blog-posts-h2 {
    color: #3D3D3D;
    text-align: center;
    font-family: "CeraPro Bold";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 53.333% */
    margin-bottom: 15px;
}

.blog-posts-p {
    color: #727272;
    text-align: center;
    font-family: "CeraPro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin-bottom: 35px;
}

.blog-posts-offers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.post-offer {
    max-width: 268px;
    background: #FBFBFB;
}
.post-offer-img {
    width: 100%;
}
.post-offer-content {
    padding: 10px 13px;
}
.h4-post-offer-date {
    color: #46A358;
    font-family: "CeraPro Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    margin-bottom: 4px;
}
.post-offer-h3 {
    color: #3D3D3D;
    font-family: "CeraPro Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 130% */
    margin-bottom: 4px;
}
.post-offer-p {
    color: #727272;
    font-family: "CeraPro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    margin-bottom: 9px;
}
.post-offer-a {
    color: #3D3D3D;
    font-family: "CeraPro Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 13px;
}

.post-offer-a-svg{
    fill: #3D3D3D;
}
.post-offer-a:hover{
    color: #46A358;
    fill: #46A358;
}

.post-offer-a:hover .post-offer-a-svg{
    fill: #46A358;
}

.footer {
    margin-bottom: 13px;
}
.footer-part-top {
    display: flex;
    padding: 25px;
    justify-content: space-between;
    background: #FBFBFB;
}
.footer-top-categories {
    display: flex;
    gap: 2vw;
    justify-content: space-between;
}
.top-category {
    max-width: 204px;
}
.top-category-img {
    margin-bottom: 15px;
    max-height: 95px;
    mix-blend-mode: multiply;
}
.top-category-h3 {
    color: #3D3D3D;
    font-family: "CeraPro Bold";
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 94.118% */
    margin-bottom: 9px;
}
.top-category-p {
    color: #727272;
    font-family: "CeraPro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}
.top-category-rectangle {
    width: 1px;
    height: 187px;
    background-color: rgba(70, 163, 88, 0.10);
    flex-shrink: 0;
    display: inline-block;
}
.footer-top-newsletters {
    max-width: 354px;
}
.top-newsletters-h2 {
    color: #3D3D3D;
    font-family: "CeraPro Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
    margin-top: 6px;
}
.top-newsletters-input-allpart {
    display: flex;
    align-items: center;
    width: 100%;
    background: #FFF;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 18px;
}

.top-newsletters-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 12px 12px 11px;
    background: transparent;
    width: 100%;
    box-sizing: border-box;
}

.top-newsletters-input::placeholder {
    color: #ACACAC;
    font-family: "CeraPro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
}


.top-newsletters-input-button {
    background: #46A358;
    color: #FFF;
    border: none;
    padding: 12px 26px;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.top-newsletters-p {
    color: #727272;
    font-family: "CeraPro Regular";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 169.231% */
    margin-top: 17px;
}
.footer-part-mid {
    display: flex;
    padding: 25px 23px 19px;
    background: rgba(70, 163, 88, 0.10);
    align-items: center;
    border-top: 1px rgba(70, 163, 88, 0.10) solid;
    border-bottom: 1px rgba(70, 163, 88, 0.10) solid;
}
.footer-part-mid-location {
    display: flex;
    gap: 9px;
    align-items: center;
    margin-left: 6vw;
}
.mid-location-p {
    color: #3D3D3D;
    font-family: "CeraPro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    max-width: 176px;
}
.footer-part-mid-contact {
    display: flex;
    gap: 10px;
    margin-left: 4vw;
}
.mid-contact-p {
    color: #3D3D3D;
    font-family: "CeraPro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}
.footer-part-mid-phone {
    display: flex;
    gap: 8px;
    margin-left: 5vw;
}
.mid-phone-p {
    color: #3D3D3D;
    font-family: "CeraPro Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}
.footer-parts-bottom {
    display: flex;
    padding: 33px 23px 29px;
    justify-content: space-between;
    border-bottom: 1px rgba(70, 163, 88, 0.20) solid;
    background: #FBFBFB;
    margin-bottom: 7px;
}

.footer-part-bottom-h3 {
    color: #3D3D3D;
    font-family: "CeraPro Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
    margin-bottom: 8px;
}

.bottom-ul-li {
    color: #3D3D3D;
    font-family: "CeraPro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 214.286% */
}

.bottom-media-h3 {
    color: #3D3D3D;
    font-family: "CeraPro Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}
.bottom-media-icons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.bottom-media-icon1 {
    padding: 7px 11px;
    border-radius: 4px;
    border: 1px solid rgba(70, 163, 88, 0.20);
    box-sizing: content-box;
}

.bottom-media-icon {
    padding: 7px;
    border-radius: 4px;
    border: 1px solid rgba(70, 163, 88, 0.20);
    box-sizing: content-box;
}

.bottom-media-icon2 {
    padding: 8px 7px 9px;
    border-radius: 4px;
    border: 1px solid rgba(70, 163, 88, 0.20);
    box-sizing: content-box;
}

.bottom-media-icon3 {
    padding: 8px 5.5px;
    border-radius: 4px;
    border: 1px solid rgba(70, 163, 88, 0.20);
    box-sizing: content-box;
}

.botom-media-h3 {
    color: #3D3D3D;
    font-family: "CeraPro Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
    margin-top: 33px;
}
.bottom-media-banner{
    margin-top: 13px;
}
.footer-p {
    color: #3D3D3D;
    font-family: "CeraPro Regular";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 214.286% */
    text-align: center;
}