@font-face {
    font-family: 'CeraPro Regular';
    src: url(/Fonts/CeraPro-Regular.ttf);
}

@font-face {
    font-family: 'CeraPro Medium';
    src: url(/Fonts/CeraPro-Medium.ttf);
}

.batya {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 171px 107px 0 ;
}

.left {
    max-width: 310px;
    background: #FBFBFB;
}
.left-list-h3 {
    color: #3D3D3D;
    font-family: "CeraPro Medium";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */

    margin: 14px 0 0 18px;
}
.left-ul-list {
    max-width: 91px;
    margin: 7px 0 0 30px;
    padding-bottom: 377px;
}
.left-ul-list-link {
    color: #3D3D3D;
    font-family: "CeraPro Medium";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    display: inline;
}
.left-ul-list-active {
    color: #46A358;
    font-family: "CeraPro Medium";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
}
.right {
    max-width: 832px;
}
.right-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}
.head-menu {
    display: flex;
    gap: 37px;
}
.head-menu-li {
    color: #3D3D3D;
    font-family: "CeraPro Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */

    padding-bottom: 7px;
}
.head-menu-active {
    color: #46A358;
    font-family: "CeraPro Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 106.667% */

    border-bottom: solid #46A358 3px;
}
.right-head-sort {
    display: flex;
    align-items: start;
    gap: 5px;
}
.right-head-sort-p {
    color: #3D3D3D;
    font-family: "CeraPro Regular";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
}
.right-head-sort-img {
    max-width: 16px;
}
.right-shopping-offers {
    display: flex;
    gap: 41px;
    flex-wrap: wrap;
}
.shopping-offers-1 {
    display: flex;
    gap: 33px;
}
.shopping-offers-img-div {
    background: #FBFBFB;
    padding: 31px 4px 19px;
}
.shopping-offers-img {
    max-width: 250px;
    max-height: 250px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    mix-blend-mode: multiply;
}
.shopping-offers-img-div1 {
    background: #FBFBFB;
    padding: 7px 17px;
}

.offer-p {
    margin-top: 12px;
    color: #3D3D3D;
    font-family: "CeraPro Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
.offer-cost-p {
    margin-top: 6px;
    color: #46A358;
    font-family: "CeraPro Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}
.shopping-offers-2 {
    display: flex;
    gap: 33px;
    padding-top: 35px;
}
.shopping-offers-3 {
    display: flex;
    gap: 33px;
    padding-top: 35px;
}
.numbers {
    display: flex;
    gap: 10px;
    justify-content: end;
    max-width: 1200px;
    margin: 90px auto;
}
.numbers-button {
    padding: 10px 14px;
    background: rgba(229, 229, 229, 0.1);
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    color: #3D3D3D;
    font-family: "CeraPro Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px; /* 88.889% */
}
.numbers-button-active {
    padding: 10px 18px;
    background: #46A358;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    color: #FFF;
    font-family: "CeraPro Regular";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}
.numbers-button-img {
    padding: 9px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-img {
    max-width: 18px;
}